.center {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(186, 255, 186);
    padding: 10px;
    text-align: center;
    
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.title
{
    font-size: 30px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: fantasy;
    text-align: center;
}